<nav class="nav__menu">
  <div class="container">
    <ul class="menu">
      <li class="menu__item <%= path === '/' ? 'active' : '' %>"><a href="/">Add User</a></li>
      <li class="menu__item <%= path === '/users/' ? 'active' : '' %>"><a href="/users/">Users</a></li>
    </ul>
  </div>
</nav>
